/*!
    Theme Name: Indohotels.id
    Theme URI: http://indohotels.id
    Description: HTML5 Blank WordPress Theme
    Tags: Blank, HTML5, CSS3

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php
    */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    &:after {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    &:before {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
}
html {
    font-size: 62.5%;
    max-width: 100%;
    max-height: 100%;
    input[type=button] {
        border: 1px solid #9d1c0e;
        background-color: #9d1c0e;
        color: #ffffff;
        font-size: 20px;
        box-shadow: none;
        text-shadow: none;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    max-width: 100%;
    max-height: 100%;
}
.clear {
    &:before {
        content: ' ';
        display: table;
    }
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    *zoom: 1;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    color: #9c1c0e;
    text-decoration: none;
    &:hover {
        color: #9c1c0e;
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
    img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }
    img.alignnone {
        margin: 5px 20px 20px 0;
    }
    img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
input {
    &:focus {
        outline: 0;
        border: 1px solid #04A4CC;
    }
}
ol {
    list-style: none;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.container {
    max-width: 960px;
}
.header-home {
    background: url('asset/images/header1.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    text-align: center;
    color: #CACACA;
}
.header-all {
    background-color: #9d1c0e;
    width: 100%;
    text-align: center;
    color: #CACACA;
}
header {
    .search-hotels {
        padding-top: 280px;
        padding-bottom: 200px;
    }
}
#ros-in {
    width: 100%;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        color: #9c1c0e;
        font-size: 24px;
        font-weight: 600;
    }
}
.logo {
    text-align: center;
    background-image: url(asset/images/bg-logo.svg);
    background-size: contain;
    background-position: 56% 0;
    background-repeat: no-repeat;
    height: 127px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.logo-img {
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    padding-top: 0.7rem;
    height: 60px;
}
.navbar-custom {
    ul {
        li {
            padding: 5px 20px;
            font-size: 18px;
            font-weight: 600;
            a {
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }
}
.nav {
    ul {
        li {
            a {
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
                &:active {
                    background: none;
                    text-decoration: underline;
                }
                &::after {
                    background: none;
                    text-decoration: underline;
                }
                &::before {
                    background: none;
                    text-decoration: underline;
                }
                color: white;
            }
        }
    }
}
.nav-bottom {
    ul {
        li {
            display: inline;
            padding: 5px 20px;
            font-size: 16px;
        }
    }
}
.navbar-nav {
    >li {
        >a {
            color: white;
        }
    }
}
.navbar {
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar-collapse {
        text-align: center;
    }
}
ul.nav.navbar-nav {
    &:before {
        margin-left: 0;
    }
}
li.btn.btn-rooms {
    margin: 15px;
    background-color: #fff;
    border: 1px solid #9c1c0e;
    border-radius: 0;
    display: inline-block;
    a {
        color: #636363;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
    }
    &:hover {
        background-color: #ebebeb;
    }
    &:active {
        background-color: #ebebeb;
    }
}
ul.nav.navbar-nav.sub-nav {
    margin-left: 12px;
}
footer {
    background-image: -moz-linear-gradient( 35deg, rgb(157,28,14) 0%, rgb(187,41,41) 50%, rgb(157,28,14) 100%);
    background-image: -webkit-linear-gradient( 35deg, rgb(157,28,14) 0%, rgb(187,41,41) 50%, rgb(157,28,14) 100%);
    background-image: -ms-linear-gradient( 35deg, rgb(157,28,14) 0%, rgb(187,41,41) 50%, rgb(157,28,14) 100%);
    .nav-bottom {
        margin-top: 15px;
        padding-bottom: 25px;
        color: white;
    }
}
nav {
    .navbar-custom {
        margin-top: 15px;
        padding-bottom: 25px;
        color: white;
    }
}
ul.list-inline {
    margin-bottom: 50px;
}
.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    &:hover {
        color: #f51818;
        background: white;
        border: solid 2px white;
    }
    &:focus {
        color: #f51818;
        background: white;
        border: solid 2px white;
    }
    &:active {
        color: #f51818;
        background: white;
        border: solid 2px white;
    }
}
.btn-outline.active {
    color: #f51818;
    background: white;
    border: solid 2px white;
}
.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    margin-top: 55px;
}
button {
    border: 1px solid #9d1c0e;
    background-color: #9d1c0e;
    color: #ffffff;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
input[type=reset] {
    border: 1px solid #9d1c0e;
    background-color: #9d1c0e;
    color: #ffffff;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
input[type=submit] {
    border: 1px solid #9d1c0e;
    background-color: #9d1c0e;
    color: #ffffff;
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.btn-check {
    background-color: #9d1c0e;
    color: #fff;
    padding-left: 2.9em;
    padding-right: 2.9em;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    transition: all .8s ease-in;
    &:active {
        background-color: #9d1c0e;
        color: #fff;
        padding-left: 2.9em;
        padding-right: 2.9em;
        text-transform: uppercase;
        border-radius: 0;
        -webkit-transition: all .8s ease-in;
        -moz-transition: all .8s ease-in;
        -o-transition: all .8s ease-in;
        transition: all .8s ease-in;
    }
    &:hover {
        background-color: #a12c1f;
        color: #fff;
    }
}
.border-check {
    padding: 40px;
    border: 5px solid #fff;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.checkin-box {
    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    .form-control {
        height: 72%;
        border-radius: 0;
    }
    &:hover {
        opacity: 1;
    }
}
.checkout-box {
    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    .form-control {
        height: 72%;
        border-radius: 0;
    }
    &:hover {
        opacity: 1;
    }
}
@rules {
    0 {
    }
}
.checkin-title {
    padding: 5px 10px;
    background-color: #9d1c0e;
    opacity: 1;
    font-weight: 700;
}
.checkout-title {
    padding: 5px 10px;
    background-color: #9d1c0e;
    opacity: 1;
    font-weight: 700;
}
h1.title {
    font-size: 2.4rem;
    color: #9d1c0e;
    font-weight: 600;
}
.rooms-post {
    border: 2px solid #9d1c0e;
    padding: 10px;
}
.room-post {
    h2 {
        a {
            font-size: 24px;
            padding-top: 5px;
        }
    }
}
article {
    p {
        margin-bottom: 20px;
        line-height: 1.5;
    }
}
.room-thumb {
    text-align: left;
    margin-bottom: 10px;
}
h2.title {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 30px;
}
h2.title-room-list {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    a {
        color: #000;
    }
}
.room-info {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}
.room-breakfast {
    font-size: 18px;
    padding: 5px;
    color: #fff;
    background-color: #bababa;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.room-price {
    color: #9d1c0e;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.book-room {
    text-transform: uppercase;
    padding: 10px;
    background-color: #9d1c0e;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    a {
        color: #fff;
    }
}
.room-tax {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 30px;
}
.room-detail {
    a {
        color: #9d1c0e;
    }
}
.rooom-no {
    margin-bottom: 30px;
}
.room-booking {
    border: 1px solid #9d1c0e;
    padding: 15px;
    margin: 15px;
    .col-booking {
        padding: 10px;
    }
    .col-value {
        padding: 10px;
    }
    img {
        width: 100%;
    }
}
.room-booking.col-booking.table {
    >tbody {
        >tr {
            >td {
                border: none;
                color: #9d1c0e;
            }
        }
    }
}
.room-details {
    .form-control {
        margin-bottom: 10px;
    }
}
.room-title-box {
    background: rgba(17, 17, 17, 0.5);
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0px auto;
    h2 {
        font-size: 24px;
        font-weight: 800;
        margin-top: 5px;
    }
}
.room-balcony {
    font-style: italic;
}
.room-box {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.room-details-spec {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 10px;
    right: 0px;
    z-index: 100;
    font-weight: 600;
    vertical-align: middle;
}
span.room-value {
    color: #9d1c0e;
}
h3.room-details-f-title {
    background-color: #ebebeb;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #9d1c0e;
}
.feature-box.col-md-12.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
ul.room-features {
    margin-left: -20px;
    li {
        list-style-type: square;
    }
}
div#main_area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail {
    border: none;
    border-radius: 0;
    a {
        >img {
            width: 100%;
        }
    }
    >img {
        width: 100%;
    }
}
.thumbnail-gallery {
    padding: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

&::selection {
    background: #9d1c0e;
    color: #FFF;
    text-shadow: none;
}
&::-webkit-selection {
    background: #9d1c0e;
    color: #FFF;
    text-shadow: none;
}
&::-moz-selection {
    background: #9d1c0e;
    color: #FFF;
    text-shadow: none;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    .wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
@media only screen and (max-width:768px) {
    .room-details-spec {
        position: initial;
        span.col-md-3 {
            display: inline-grid;
            color: #636363;
        }
    }
}
@media only screen and (max-width: 991px) {
    .border-check {
        margin-top: 0;
        border: none;
        .btn-check {
            width: 100%;
            -webkit-transition: all .8s ease-in;
            -moz-transition: all .8s ease-in;
            -o-transition: all .8s ease-in;
            transition: all .8s ease-in;
            &:active {
                width: 100%;
                -webkit-transition: all .8s ease-in;
                -moz-transition: all .8s ease-in;
                -o-transition: all .8s ease-in;
                transition: all .8s ease-in;
            }
        }
    }
    .checkin-box {
        width: 100%;
        margin-left: 0;
        -webkit-transition: all .8s ease-in;
        -moz-transition: all .8s ease-in;
        -o-transition: all .8s ease-in;
        transition: all .8s ease-in;
        height: 10vh;
    }
    .checkout-box {
        width: 100%;
        margin-left: 0;
        -webkit-transition: all .8s ease-in;
        -moz-transition: all .8s ease-in;
        -o-transition: all .8s ease-in;
        transition: all .8s ease-in;
        height: 10vh;
    }
}
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a {
        text-decoration: underline;
        &:visited {
            text-decoration: underline;
        }
    }
    a[href] {
        &:after {
            content: " (" attr(href) ")";
        }
    }
    abbr[title] {
        &:after {
            content: " (" attr(title) ")";
        }
    }
    .ir {
        a {
            &:after {
                content: "";
            }
        }
    }
    a[href^="javascript:"] {
        &:after {
            content: "";
        }
    }
    a[href^="#"] {
        &:after {
            content: "";
        }
    }
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    h2 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid;
    }
    h3 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid;
    }
}
